extends layout

block content
  h1= title
  p Add royal fork to your discord server: 
    a(href='https://discord.com/api/oauth2/authorize?client_id=1030835187308839033&permissions=2147485696&scope=bot%20applications.commands') click here
